* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

div.smallSeparator {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 5px;
  width: 40%;
}

div.mediumSeparator {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 5px;
  width: 65%;
}

div.largeSeparator {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 5px;
  width: 80%;
}

header {
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border-bottom: 1px solid white;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
header section#logoContainer {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header section#logoContainer img {
  width: 40px;
}
header section#linksContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header section#linksContainer ul {
  display: flex;
}
header section#linksContainer ul li {
  margin-left: 30px;
  font-weight: bolder;
  font-size: 1.4em;
}
header section#socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
header section#socialContainer ul {
  display: flex;
}
header section#socialContainer ul li {
  margin-left: 20px;
}

article#bannerContainer {
  height: 500px;
  width: 100vw;
  display: flex;
  margin-top: 10vh;
}
article#bannerContainer section#banner {
  height: 100%;
  width: 100%;
  background-image: url("../assets/Banners/promocao.png");
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid white;
}

/* From Uiverse.io by Spacious74 */
section#cardsContainer {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* From Uiverse.io by Spacious74 */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container > * {
  width: 340px;
  height: 120px;
  border: solid 1px #bebebe;
  background-color: #1f1f1f;
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 8px 20px -10px #bbbbbb;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  background-image: radial-gradient(circle 160px at 50% 120%, #353535, #1f1f1f);
}

.card1 {
  width: 300px;
  margin: -20px 0px 0px 20px;
}

.card2 {
  width: 320px;
  margin: -10px 0px 0px 10px;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card3 p {
  font-size: 1.5em;
}

html, body {
  background-image: url("../assets/background/rectangle.jpg");
  background-size: 80px;
  background-attachment: fixed;
  height: 500vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: monospace;
}/*# sourceMappingURL=main.css.map */