* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

div.smallSeparator {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 5px;
  width: 40%;
}

div.mediumSeparator {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 5px;
  width: 65%;
}

div.largeSeparator {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 5px;
  width: 80%;
}

header {
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  border-bottom: 1px solid white;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}
header section#logoContainer {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header section#logoContainer img {
  width: 40px;
}
header section#linksContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header section#linksContainer ul {
  display: flex;
}
header section#linksContainer ul li {
  margin-left: 30px;
  font-weight: bolder;
  font-size: 1.4em;
}
header section#socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
header section#socialContainer ul {
  display: flex;
}
header section#socialContainer ul li {
  margin-left: 20px;
}

/* From Uiverse.io by vinodjangid07 */
.cookiesContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 25px;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.cookie-heading {
  color: rgb(34, 34, 34);
  font-weight: 800;
  font-size: 1.5em;
}

.cookie-para {
  font-size: 1em;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.button-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cookie-button {
  width: 50%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accept {
  background-color: rgb(34, 34, 34);
  color: white;
}

.reject {
  background-color: #ececec;
  color: rgb(34, 34, 34);
}

.accept:hover {
  background-color: rgb(0, 0, 0);
}

.reject:hover {
  background-color: #ddd;
}

.exit-button {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exit-button:hover {
  background-color: #ddd;
  color: white;
}

.svgIconCross {
  height: 10px;
}

section#loaderContainer {
  position: fixed;
  z-index: 2;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section#loaderContainer .spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: white;
  --clr-alpha: rgb(255, 255, 2555,.2);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;
}
section#loaderContainer .spinner div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 3.5px solid var(--clr);
}
section#loaderContainer .spinner div:nth-of-type(1) {
  transform: translateZ(-35.2px) rotateY(180deg);
}
section#loaderContainer .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}
section#loaderContainer .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}
section#loaderContainer .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}
section#loaderContainer .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}
section#loaderContainer .spinner div:nth-of-type(6) {
  transform: translateZ(35.2px);
}
@keyframes spinner {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
section#loaderContainer p {
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: bolder;
  animation: textBLink 1s infinite;
}
@keyframes textBLink {
  0% {
    color: white;
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}

article#bannerContainer {
  height: 500px;
  width: 100vw;
  display: flex;
  margin-top: 10vh;
}
article#bannerContainer section#banner {
  height: 100%;
  width: 100%;
  background-image: url("../assets/Banners/promocao.png");
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid white;
}

/* From Uiverse.io by Spacious74 */
section#cardsContainer {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* From Uiverse.io by Spacious74 */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container > * {
  width: 21vw;
  height: 15vh;
  border: solid 1px #bebebe;
  background-color: #1f1f1f;
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 8px 20px -10px #bbbbbb;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  background-image: radial-gradient(circle 160px at 50% 120%, #353535, #1f1f1f);
}

.card1 {
  width: 17vw;
  margin: -20px 0px 0px 20px;
}

.card2 {
  width: 19vw;
  margin: -10px 0px 0px 10px;
}

.card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card3 p {
  font-size: 1.5em;
}

html, body {
  background-image: url("../assets/background/rectangle.jpg");
  background-size: 80px;
  background-attachment: fixed;
  height: 500vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: monospace;
}/*# sourceMappingURL=main.css.map */