    article#bannerContainer {
        height: 500px;
        width: 100vw;
        display: flex;

        margin-top: 10vh;

        section#banner {
            height: 100%;
            width: 100%;
            background-image: url("../assets/Banners/promocao.png");
            
            background-size: cover;
            background-position: center;
            border-bottom: 1px solid white;
        }
    }